/* INDEX.HTML
=====================*/

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #a8a8a7;
    letter-spacing: .25px;


}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #a8a8a7;
    text-align: center;

}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #404041;
    text-align: left;

}



/* Container
=====================*/
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}




/* header
=====================*/

.header {
    width: 100%;
    border-bottom: 2px solid #a8a8a7;
}

.header__inner {
    display: flex;

    align-items: center;
    flex-wrap: wrap;


}


.header__links {
    display: flex;
    flex-direction: column;
    margin-right: 60px;



}

.link__food {
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    color: #a8a8a7;
    text-align: center;
    text-decoration: none;

}

.fb__logo {

    display: flex;
    align-items: center;

}

.inst__logo {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.foodclicker {
    width: 130px;
    height: 130px;
    margin: 30px auto;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #e30613;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: #ff0011;
}
.btn__login {
margin-left: 60px;
}

.btn__reg {
    margin: 30px auto;
    max-width: 200px;
}

.btn__acc {
    font-size: 25px;
    padding: 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.btn__basket img {
    width: 80px;
    height: 80px;
}




/* about
=====================*/


.about {
    text-align: center;

}

.about__title {
    margin-top: 70px;
    margin-bottom: 35px
}

.about__subtitle {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;

}


/* slider
=====================*/

.sliderbox {
    position: relative;


}


.slider {
    max-width: 1180px;
    width: 100%;

    overflow: hidden;
    margin-bottom: 90px;
}

.navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #fff;
    opacity: .6;
    border-radius: 10px;
    transition: all .4s ease;

}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;

}

.slides {
    width: 400%;
    height: 100%;
    display: flex;

}

.slide {
    width: 25%;
    transition: all .6s ease;

}

.slide img {
    max-width: 1180px;
    width: 100%;
    height: 100%;

}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

/* offers
=====================*/

.offer {
    border-bottom: 2px solid #a8a8a7;
}

.offer__title {
    margin-bottom: 45px;
}

.offer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.offer__cafe {
    max-width: 362px;
    width: 30%;
    margin-bottom: 30px;


}

.offer__link {
    position: relative;
    height: 241px;
    border: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer__link img {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-height: 200px;
    max-width: 100%;
}

.offer__name {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;

}

.offer__description {
    text-align: left;
    line-height: 1.5;


}


/* forms
=====================*/

.form {
    display: flex;
    flex-direction: column;

}

.form__title {
    margin-top: 50px;
    line-height: 33px;

}

.form__subtitle {
    font-family: 'Roboto', sans-serif;
    color: #a8a8a7;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    line-height: 33px;
}


.form__inner {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;


}

.form__label {
    margin-top: 30px;
    font-size: 20px;
}

.form__name {
    padding: 0 10px;
    margin-top: 10px;
    height: 38px;
    background-color: #dddddd;
    border: none;
    border-radius: 10px;
    

}


.form__comment {
    height: 134px;
    padding: 10px 10px;
    margin-top: 10px;
    background-color: #dddddd;
    border: none;
    resize: none;
    border-radius: 10px;
}

.btn__send {
    padding: 5px 18px;
    margin: 30px auto;
    
    border: none;

}

/* footer
=====================*/
.footer {
    background-color: #e20613;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.footer__logos {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__contacts {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
}

/* MODALS
=====================*/

.modal__bg {
    
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    
    width: 500px;
    
    background-color: #fff;
    border: 1px solid #a8a8a7 ;
    max-width: 80%;
    
}

.modal__title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}



.modal__close {
    
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    font-size: 50px;
    line-height: 20px;

}
.modal__close:hover {
    opacity: 1;
}

.modal__header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a8a8a7;
    
}

.modal__title {
    font-size: 26px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.login__img {
    margin: 0 auto 10px auto;

}
.login__img:last-child {
    
    margin-bottom: 30px;
}
.login__img img {
    height: 50px;
    width: 250px;   
}


.modal__link {
    color: #888886;
    padding-top: 20px;
    font-size: 18px;
}

.modal__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    
}



/* REGISTRATION.HTML
=====================*/

.reg__title {
    text-align: left;
    margin: 0 auto;
    padding-top: 30px;
    
    
}


/* ACCOUNT.HTML
=====================*/


/* BASKET.HTML
=====================*/

.basket__title {
    font-size: 36px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.basket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.basket__inner {
    border: 1px solid #a8a8a7;
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basket__payment {
    border: 1px solid #a8a8a7;
    width: 30%;
    
}

.basket__order {
    margin-top: 30px;
    border-top: 1px solid #a8a8a7;
    border-bottom: 1px solid #a8a8a7;
}




.payment__title {
    font-size: 30px;
    text-align: left;
    color: #a8a8a7;
    margin-left: 10px;
    margin-top: 10px;
}
.payment__price {
    font-size: 36px;
    color: #000;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
.btn__pay {
    margin: 20px auto 10px 10px;
}

/* CAFE-1.HTML
=====================*/

.cafe__header {
    margin-bottom: 60px;

}

.cafe__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 65px 0;
}

.cafe__map {
   width: 387px;
    height: 200px;
}

.btn__order {
    display: flex;
    padding: 10px 13px;
    border-radius: 30px;
    max-width: 270px;
    margin-right: 53px;
    margin-left: 53px;
}

.btn__call {
    margin-right: 12px;
}

.btn__order p {
    text-align: center;
}

.cafe__outer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.cafe__logo {
    max-width: 33.333%;
    
}

.cafe__outer img {
    width: 32%;
    margin-bottom: 27px;
}


/* MEDIA    1080px
=====================*/

@media (max-width: 1080px) {
    .cafe__map {
        width: 300px;

    }

    .btn__order {
        margin: 0;
    }

    .cafe__outer img {
        width: 45%
    }

}

/* MEDIA    950px
=====================*/

@media (max-width: 950px) {
    .container {
        padding: 0 25px
    }

    .about__title {
        margin-top: 35px;
        margin-bottom: 17px;
    }

    .about__subtitle {
        margin-bottom: 35px;
    }

    .slider {
        margin-bottom: 45px;
    }

    .offer__cafe {
        width: 45%;

    }

    .footer__contacts {
        font-size: 14px;
    }

    .footer__logos {
        margin: 15px 0;
    }

    .cafe__header {
        margin-bottom: 45px;
    }

    .cafe__inner {
        justify-content: space-around;
        margin: 45px 0;

    }

    .cafe__logo {
        max-width: 50%;
        max-height: 200px;
        order: -1;

    }

    .cafe__map {
        width: 300px;
    }

    .btn__order {
        margin: 25px 0 0 0;
    }

    .cafe__outer img {
        width: 49%;
    }

}

/* MEDIA    680px
=====================*/


@media (max-width: 680px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 0 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    .foodclicker {
        margin: 15px auto;
    }

    .foodclicker img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .bar {
        height: 6px;
        width: 20px;
        margin: 6px;
    }

    .slider {
        height: 230px;
        margin-bottom: 25px;
    }

    .navigation {
        bottom: 2px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 15px;
        margin: 0 auto;
        
    }
    
    .btn__reg {
        margin: 15px auto;
    }

    .offer__title {
        margin-bottom: 25px;
    }

    .about__subtitle {
        font-size: 16px;
    }

    .header__inner {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .header__links {
        display: none;
    }

    .offer__cafe {
        width: 90%;
        margin-bottom: 20px;
    }

    .offer__inner {
        justify-content: center;
    }

    .offer__link {
        height: 200px;
    }


    .offer__name {
        margin: 15px 0 5px 0;
    }

    .form__title {
        margin-top: 25px;
    }

    .form__subtitle {
        font-size: 14px;
    }

    .form__label {
        margin-top: 15px;
    }

    .footer__inner {
        align-items: center;
        flex-direction: column;
    }

    .footer__logos {
        margin: 0;
    }

    .fc__logo {
        order: -2;
    }

    .btn__send {
        margin: 25px auto;
    }

    .cafe__header {
        margin-bottom: 25px;
    }

    .cafe__inner {
        flex-direction: column;
        justify-content: center;

        margin: 25px 0;

    }

    .cafe__logo {
        max-width: 300px;
        max-height: 130px;
        order: -1;
        margin-bottom: 15px;

    }

    .btn__call {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .cafe__map {
        height: 130px;
        width: 90%;
    }

    .btn__order {
        width: 170px;
        margin: 25px 0 0 0;

    }

    .cafe__outer img {
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 15px;
        width: 90%;
    }



}




